#container {
  min-width: 360px;
  max-width: 640px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto; 
}
  #main-menu {
    background-image: url(photos/ActualOnesAndZeroes.jpg);
    color: lime;
    text-align: center; 
    
    } 
  #top-menu {
    a:link, a:visited {
      background-color: black;
      color: lime; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 5px 8px; 
      font-size: 80%;
      text-align: center;
      text-decoration: none;
      display: flex; 
      margin: 0;
    }
    
    a:hover, a:active {
      background-color: lime;
      color: black; 
      font-size: 100%;
      padding-bottom: 20px;
    }
  }    
    #images{
     width: 50%;
     padding-left: 27%;
     

    }
    #html-example{
        width: 100%;
        height: 80%; 
        border: 3px solid lime;
    }
        
    #logo{
      width: 10%;
      height: 10%; 
      display: inline-block; 
      padding-right: 5%;
      margin-bottom: 0; 
    }

    #Javascript-example{
        width: 80%;
        height: 80%; 
        border: 3px solid lime;
        
        
    }
    #google-sites-example {
      width: 90%; 
      height: 90%;
      border: 3px solid lime;
    } 

    #html{
      display: flex;
    }

    #bio1{
        color: white;
        font-size: 150%; 
        border: 5px solid lime;
        background-color: black;
        margin: 0 32px;
        } 
    a:link{
      color: white
    }        
    a:visited{
      color: white
    }
    a:hover {
      color: lime
    }
    a:active {
      color: black
    } 
    .main-menu:hover, .main-menu:focus {
      background-color: lime;
      color: black
    }

.portfolio {
text-align: center;
font-size: 75px;
background-color: black;
border: 3px solid lime;
text-shadow: 3px 1px white; 
line-height: 98%; 
margin: 0; 
font-family: 'Rog Fonts', 'Arial Narrow', Arial, sans-serif;
} 
.lead2 {
color: black; 
font-size: 150%;
text-shadow: 1px 1px white; 
background-color: lime;
border: 2px solid white; 
margin-top: 0px; 
margin-bottom: 0px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
.lead3 { 
color: lime; 
background-color: black; 
border: 3px solid lime;
font-size: 200%;
letter-spacing: 1px;
text-shadow: 1px 1px white; 
font-family: 'Rog Fonts', 'Arial Narrow', Arial, sans-serif;
}
.lead4{
    color: black;
    background-color: lime; 
    border: white;
    font-size: 150%;
    text-shadow: 1.5px 1.5px white;
    display: flexbox;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lead5{
    color: lime;
    margin: auto;
    text-align: left;
    padding: 12px;
    width: 80%;
    max-width: 650px; 
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lead6 {
  color: white; 
  text-shadow: 1px 1px lime; 
}

.fa-copyright{
  color: white; 
  background-color: black; 
  font-size: 115%;
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 

.fa-regular-fa-copyright{
color: white; 
background-color: black; 
font-size: 75%;
width: 80%;
margin: auto;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 


@media only screen and (min-width: 720px) {
  /* For desktop: */
   #container {
    min-width: 720px;
    max-width: 1900px;
    border: 2px solid Oblack;
    border-radius: 15px;
    margin: 0 auto;
  }

  
}

@media only screen and (min-width: 850px) {
#top-menu {
  a:link, a:visited {
    background-color: black;
    color: lime; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 25px;
    text-align: center; 
    font-size: 110%;
    text-decoration: none;
    display: flex; 
    margin: 0;
  }
  a:hover, a:active {
    background-color: lime;
    color: black; 
    padding-bottom: 40px; 
    font-size: 150%;
  }
}

.lead4{
  color: black;
  background-color: lime; 
  border: white;
  font-size: 150%;
  text-shadow: 1.5px 1.5px white;
  width: 50%; 
  display: flexbox;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
#images{
  width: 33.33%;
  padding-left: 60%;
}
.lead6 {
  color: white; 
  text-shadow: 1px 1px lime; 
  width: 50%; 
}
}