#container {
  min-width: 360px;
  max-width: 640px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
}
  #main-menu {
    background-image: url(photos/ActualOnesAndZeroes.jpg);
    color: lime;
    text-align: center; 
    
    } 
  #top-menu {
    a:link, a:visited {
      background-color: black;
      color: lime; 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block; 
      margin: 0;
    }
    
    a:hover, a:active {
      background-color: lime;
      color: black; 
      padding-bottom: 40px;
    }
  }    
    #images{
     width: 33.33%;
     padding-left: 75%;
    
     

    }
    #html-example{
        width: 100%;
        height: 80%; 
        border: 3px solid lime;
    }
        
    #logo{
      width: 15%;
      height: 15%; 
      display: block; 
      margin-bottom: 0;
    }

    #Javascript-example{
        width: 80%;
        height: 80%; 
        border: 3px solid lime;
        
        
    }
    #bio1{
        color: white;
        font-size: 150%; 
        border: 5px solid lime;
        background-color: black;
        margin: 0 32px;
        } 
    a:link{
      color: white
    }        
    a:visited{
      color: white
    }
    a:hover {
      color: lime
    }
    a:active {
      color: black
    } 
    .main-menu:hover, .main-menu:focus {
      background-color: lime;
      color: black
    }

.portfolio {
text-align: center;
font-size: 75px;
background-color: black;
border: 3px solid lime;
text-shadow: 3px 1px white; 
line-height: 98%; 
margin: 0; 
font-family: 'Rog Fonts', 'Arial Narrow', Arial, sans-serif;
} 
.lead2 {
color: black; 
font-size: 150%;
text-shadow: 1px 1px white; 
background-color: lime;
border: 2px solid white; 
margin-top: 0px; 
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

} 
.lead3 { 
color: lime; 
background-color: black; 
border: 3px solid lime;
font-size: 200%;
letter-spacing: 1px;
text-shadow: 1px 1px white; 
font-family: 'Rog Fonts', 'Arial Narrow', Arial, sans-serif;
}
.lead4{
    color: black;
    background-color: lime; 
    border: white;
    font-size: 150%;
    text-shadow: 1.5px 1.5px lime;
    word-spacing: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.lead5{
    color: lime;
    margin: auto;
    text-align: left;
    padding: 12px;
    width: 80%;
    max-width: 650px; 
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.fa-regular-fa-copyright{
color: white; 
background-color: black; 

font-size: 75%;
width: 80%;
margin: auto;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 


@media only screen and (min-width: 720px) {
  /* For desktop: */
   #container {
    min-width: 720px;
    max-width: 1900px;
    border: 2px solid Oblack;
    border-radius: 15px;
    margin: 0 auto;
  }

  
}

@media only screen and (min-width: 850px) {
.lead4{
  color: white;
  font-size: 250%;
  text-shadow: 1.5px 1.5px lime;
  word-spacing: 200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  


#bottom-links {
  font-size: 125%;
}
}